.dashboard_layout {
  padding: 0;
  background-color: rgb(235, 235, 235);
  height: calc(100vh - 70px);
}

.card_container {
  padding-top: 1rem;
  display: grid;
  min-width: 1281px;
  grid-template-columns: repeat(auto-fit, minmax(25%, auto));
  grid-row-gap: 20px;
  justify-items: center;
}

.chart_container {
  margin: 1rem;
  padding: 1rem;
  display: grid;
  grid-template-columns: 7fr 3fr;
  column-gap: 2em;
}

.chart {
  box-shadow: 3px 3px 3px 0 gray;
}
